
@layer base {
    button {
        display: inline-block;
        font-weight: 500;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        border: none;
        padding: 0.5rem 0.9rem;
        font-size: 0.975rem;
        line-height: 1.5;
        border-radius: 0.375rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.2s ease;
        cursor: pointer;
        background: transparent;

        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}

@layer elements {
    button, .outlined {
        --current-color: var(--active-color, var(--primary-color));
        color: var(--current-color);
        background: transparent;
        border: 1px solid var(--current-color);
        box-shadow: none;

        &:hover {
            background-color: color-mix(in oklab, var(--current-color) 15%, transparent);
        }
    }

    button.flat, button.elevated {
        --current-color: var(--active-color, var(--primary-color));
        --on-current-color: var(--on-active-color, var(--on-primary-color));
        color: var(--on-current-color);
        background: var(--current-color);
        border: none;

        &:focus-visible {
            outline: color-mix(in oklab, currentColor 20%, var(--current-color)) 2px solid;
        }
    }

    button.flat {

        &:hover, &:focus-visible {
            background: oklab(from var(--current-color) calc(l + 0.15) a b);;
        }
    }

    button.elevated {
        box-shadow:
                0 4px 6px -1px var(--shadow-color),
                0 2px 3px -1px var(--shadow-color);

        &:hover, &:focus-visible {
            box-shadow:
                    0 8px 12px -1px var(--shadow-color),
                    0 4px 6px -1px var(--shadow-color);
            background: var(--current-color);
        }

        &:focus-visible {
            outline: color-mix(in oklab, currentColor 20%, var(--current-color)) 2px solid;
        }
    }

    button.text {
        --current-color: var(--active-color, var(--primary-color));
        --on-current-color: var(--on-active-color, var(--on-primary-color));
        color: var(--current-color);
        background-color: transparent;
        border: none;
        box-shadow: none;

        &:hover {
            background-color: color-mix(in oklab, var(--current-color) 15%, transparent);
        }
    }
}
