
:root {
    --font-family: 'Helvetica Neue', Arial, sans-serif;
    --base-font-size: 16px;
    --line-height: 1.5;
    --heading-line-height: 1.2;
    --heading-font-weight: 700;
}


@layer base {
    h1, h2, h3, h4, h5, h6, .text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6 {
        font-family: var(--font-family), sans-serif;
        font-size: var(--font-size);
        line-height: var(--heading-line-height);
        font-weight: var(--heading-font-weight);
    }


    body {
        font-family: var(--font-family), sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: var(--on-background);
    }

    h1, .headingXl {
        font-size: 2.5rem;
        line-height: 1.2;
        font-weight: 700;
    }

    h2, .headingLg {
        font-size: 2rem;
        line-height: 1.2;
        font-weight: 700;
    }

    h3, .headingMd {
        font-size: 1.75rem;
        line-height: 1.2;
        font-weight: 700;
    }

    h4, .headingSm {
        font-size: 1.5rem;
        line-height: 1.2;
        font-weight: 700;
    }

    h5, .headingXs {
        font-size: 1.25rem;
        line-height: 1.2;
        font-weight: 700;
    }

    h6, .headingXxs {
        font-size: 1rem;
        line-height: 1.2;
        font-weight: 700;
    }
}
