
@mixin filled {
    border: transparent 1px solid;
    --surface-fill-gradient-1: var(--surface-color);
    --surface-fill-gradient-2: color-mix(in oklab, var(--surface-color), white 20%);
    --surface-outline-gradient-1: color-mix(in oklab, var(--surface-color), white 15%);
    --surface-outline-gradient-2: color-mix(in oklab, var(--surface-color), white 35%);

    background:
            radial-gradient(circle at 50% 200%, var(--surface-fill-gradient-2), var(--surface-fill-gradient-1)) padding-box,
            linear-gradient(var(--surface-outline-gradient-1), var(--surface-outline-gradient-2)) border-box;
    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;
}

@mixin glass {
    --card-shadow-color: oklab(from black l a b / 0.3);
    --surface-elevated: color-mix(in oklab, var(--surface-color), white 30%);
    background: oklab(from var(--surface-elevated) l a b / 0.1);
    backdrop-filter: blur(12px);
    box-shadow:
            0 8px 12px -1px var(--card-shadow-color),
            0 4px 6px -1px var(--card-shadow-color),
            0 0 20px -1px var(--card-shadow-color);
}

@mixin tonal {
    --tonal-card-base: var(--active-color, var(--primary-color));
    --highlight-color: oklab(from var(--tonal-card-base) 70% a b);
    background: oklab(from var(--tonal-card-base) 30% a b / 0.4);
    color: var(--highlight-color);
    border: 1px solid var(--highlight-color);
}

@mixin outlined {
    --outlined-base-color: var(--active-color, currentColor);
    color: var(--outlined-base-color);
    border: var(--outlined-base-color) 1px solid;
    background: none;
}

@layer base {
    nav, article, aside, main, .card {
        border-radius: 1rem;
        background-repeat: no-repeat;
    }
}

@layer elements {
    article, .card {
        padding: 1rem;
    }

    nav, article, aside, main, .card {
        &.filled {
            @include filled;
        }

        &.glass {
            @include glass;
        }

        &.tonal {
            @include tonal;
        }

        &.outlined {
            @include outlined;
        }
    }
}