@use "../reset";
@use "icon";
@use "text";
@use "color-palette";
@use "button";
@use "card";
@use "input";

@layer defaults {

    .theme.dark {
        --primary-color: var(--color-amber-500);
        --on-primary-color: black;
        --secondary-color: var(--color-purple-950);
        --on-secondary-color: white;
        --on-background: var(--color-white);

        --surface-color: var(--color-slate-700);

        --background-gradient: radial-gradient(circle at bottom center, var(--secondary-color), var(--color-slate-900)) no-repeat;

        --error-color: var(--color-rose-500);

        color-scheme: dark;
        accent-color: var(--primary-color);
    }

    .primary {
        --active-color: var(--primary-color);
        --on-active-color: var(--on-primary-color);
    }

    .secondary {
        --active-color: var(--secondary-color);
        --on-active-color: var(--on-secondary-color);
    }

    html {
        background: var(--background-gradient);
        background-size: cover;
    }

    button {
        @include button.elevated
    }

    .formField {
        @include input.formFieldOutlined;
    }

    @include input.outlinedWithSelectors;

    h1, h2, h3, h4, h5, h6 {
        color: var(--primary-color)
    }

    h1 {
        @include text.hsm;
    }

    h2 {
        @include text.hlg;
    }

    h3 {
        @include text.hmd;
    }

    h4 {
        @include text.hsm;
    }

    h5 {
        @include text.hxs;
    }

    h6 {
        @include text.hxxs;
    }

    nav, article, aside, main {
        @include card.filled
    }

    nav {
        z-index: 10;

        a {
            padding: 0.5rem;
            color: var(--primary-color);
            border: 1px solid transparent;

            &.active {
                //background-color: oklab(from var(--primary-color) 50% a b / 0.9) !important;
                color: var(--primary-color);
                border: 1px solid var(--primary-color);
                border-radius: 0.5rem;
            }
        }
    }
}


