

@layer color-pallette {
  :root {
    --color-blue-50: #eff6ff;
    --color-blue-100: #dbeafe;
    --color-blue-200: #bfdbfe;
    --color-blue-300: #93c5fd;
    --color-blue-400: #60a5fa;
    --color-blue-500: #3b82f6;
    --color-blue-600: #2563eb;
    --color-blue-700: #1d4ed8;
    --color-blue-800: #1e40af;
    --color-blue-900: #1e3a8a;

    --color-purple-500: #7c3aed;

    --color-gray-50: #f9fafb;
    --color-gray-100: #f3f4f6;
    --color-gray-200: #e5e7eb;
    --color-gray-300: #d1d5db;
    --color-gray-400: #9aa1a8;
    --color-gray-700: #374151;
    --color-gray-500: #6c757d;
    --color-gray-600: #4b5563;

    --color-green-500: #22c55e;
    --color-yellow-500: #f59e0b;
    --color-red-500: #ef4444;
    --color-cyan-500: #06b6d4;

    --color-white: #ffffff;
    --color-black: #000000;
    --color-dark-blue-900: #0b1220;
    --color-dark-blue-800: #0e1628;
    --color-dark-blue-700: #121c32;
  }
}

@layer color-theme {
  :root {

    &[data-theme='light'] {
      --primary-color: var(--color-blue-500);
      --secondary-color: var(--color-gray-500);

      --background-color: var(--color-gray-200);
      --surface-0: #e8e8e8;
      --surface-1: #f8fafc;
      --surface-2: #e9ebef;

      --text-color: var(--color-dark-blue-900);
      --muted-text-color: var(--color-gray-500);
      --heading-color: var(--color-dark-blue-800);
    }

    --background-color: var(--color-dark-blue-900);
    --surface-0: var(--color-dark-blue-900);
    --surface-1: var(--color-dark-blue-800);
    --surface-2: var(--color-dark-blue-700);

    --text-color: var(--color-gray-100);
    --muted-text-color: var(--color-gray-500);
    --heading-color: var(--color-gray-300);

    --primary-color: var(--color-blue-400);
    --secondary-color: var(--color-gray-200);
    --border-color: rgba(var(--color-gray-200), 0.24);

    --primary-50: var(--color-blue-50);
    --primary-100: var(--color-blue-100);
    --primary-200: var(--color-blue-200);
    --primary-300: var(--color-blue-300);
    --primary-400: var(--color-blue-400);
    --primary-500: var(--color-blue-500);
    --primary-600: var(--color-blue-600);
    --primary-700: var(--color-blue-700);
    --primary-800: var(--color-blue-800);
    --primary-900: var(--color-blue-900);

    --accent-1: var(--color-purple-500);
    --accent-2: var(--color-cyan-500);

    --success-500: var(--color-green-500);
    --warning-500: var(--color-yellow-500);
    --danger-500: var(--color-red-500);
    --info-500: var(--color-cyan-500);


    --ring-color: rgba(var(--primary-400), 0.5);

    --gradient-primary: linear-gradient(135deg, var(--primary-500), var(--primary-700)); /* Default light theme gradient */
    --gradient-accent: linear-gradient(135deg, var(--accent-1), var(--accent-2)); /* Default light theme accent gradient */
  }
}
